.container{
    width: 100%;
    height: 100%;
    background-color: rgb(92, 88, 97);
}
.menu ul {
    display: inline-flex;
    margin: 50px;
}
.menu li {
    list-style: none;
    margin: 0 20px;
    color: rgb(8, 172, 131);
    cursor: pointer;
}